@import url('https://fonts.googleapis.com/css?family=Cuprum|Anton|Francois+One|Luckiest+Guy|Shadows+Into+Light+Two|Staatliches|Acme|Enriqueta');


/*------------------------General*/

html {
    position: relative;
}

@media (max-width: 767){
    html {
        position: absolute;
    }
}


header {
    background-color: #18247d;
    height: 20%;
}

.container-fluid {
    padding: 0;
    margin: 0;
}

/*------------------------Landing page images*/

.header-section {
    width: 100%;
    padding: 0;
    margin: 0;
}

@media (max-width: 480px){
    .header-section {
        width: 100%;
        padding: 0;
        margin: 0;
    }
}

.cover-page-section {
    padding: 0;
    margin: 0;
    height: 70%;
    width: 100%;
    padding-bottom: 10px;
    padding-top: 10px;
}

@media (max-width: 767px){
    .cover-page-section {
        padding: 0;
        margin: 0;
        height: auto;
        width: 100%;
    }
}

.title p {
    text-align: center;
    font-size: 80px;
    text-transform: uppercase;
    color: #F0F1F6;
    font-family: 'Acme', sans-serif;
}

@media (max-width: 767px){
    .title p {
        font-size: 30px;
        padding-top: 15px;
        text-align: center;
    }
}


.landing-page-center {
    padding-left: 0;
    height: 100%;
}

@media (max-width: 767px){
   .landing-page-center {
        text-align: center;
        padding-right: 10px;
        padding-left: 10px;
    } 
}

.landing-page-center img {
    height: 100%;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.landing-page-photo-02 {
    height: 70%;
    padding-bottom: 20px;
}

.landing-page-photo-02 img {
    height: 100%;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.landing-page-photo-03 {
    height: 30%;
}

.landing-page-photo-03 img {
    height: 100%;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.landing-page-quote p {
    font-family: 'Shadows+Into+Light+Two', cursive;
    font-size: 15px;
}

.landing-page-quote cite {
    font-size: 10px;
}

/*------------------------Page header*/

.image-container {
    margin-top: 15px;
    margin-bottom: 15px;
    padding-left: 25px;
    padding-right: 0px;
}


.music-page-image {
    height: 80px;
    width: 80px;
    float: left;
}

.music-page-image img {
    height: 100%;
    width: 100%;
    border: 1px solid white;
    border-radius: 50%;
}

.image-description {
    margin-left: 10px;
    display: inline-block;
    width: 120px;
    padding-top: 12px;
    color: #ffffff;
}

@media (max-width: 992px){
    .image-description {
        width: 60px;
    }
}

.image-description p {
    font-family: 'Enriqueta' serif;
}

/*------------------------Navigation bar*/

.nav {
    padding-right: 0px;
}

.nav-landing-page-row {
    padding-top: 0px;
    margin: 0px;
    vertical-align: middle;
}
    

.nav ul {
    margin-left: 0;
    padding-left: 0;
    padding-top: 50px;
}

@media (max-width: 767px){
    .nav ul {
        margin-left: 0;
        padding-left: 0;
        padding-top: 0px;
        text-align: center;
    }
}


.nav ul li {
    height: 50px;
    width: 120px;
    text-align: center;
    margin-left: 0;
    margin-top: 10px;
    padding-left: 0;
    display: block;
}

@media (max-width: 767px){
   .nav ul li {
    height: 30px;
    width: 70px;
    text-align: center;
    margin-left: 10;
    margin-top: 10px;
    padding-left: 0;
    display: inline-block;
   } 
}

.nav ul li a {
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
    color: #ffffff;
    font-family: 'Acme', sans-serif;
    text-transform: uppercase;
    margin: 0;
    padding-top: 8px;
    font-size: 22px;
}

@media (max-width: 767px){
    .nav ul li a {
        font-size: 20px;
        padding-top: 3px
    }
}

.nav ul li a i {
    padding-left: 5px;
    padding-right: 6px;
}

@media (max-width: 480px){
   .nav ul li a i {
        padding-right: 10px;
        padding-top: 2px;
    } 
}

.nav #home-nav {
    background-color: #563CA0;
}

.nav #music-nav {
    background-color: #5D99F2;
}

.nav #video-nav {
    background-color: #2C962C;
}

.nav #events-nav {
    background-color: #932B96;
}

.nav #about-nav {
    background-color: #B81C17;
}

/*------------------------Hover animations*/

.hvr-sweep-to-right:before {
    background-color: rgba(0,0,0, 0.2);
}

.nav ul li:hover {
    width: 140px;
    transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
}


@media (max-width: 767px){
   .nav ul li:hover {
        width: 70px;
        transition: all 0.2s ease-in;
        -webkit-transition: all 0.2s ease-in;
        -moz-transition: all 0.2s ease-in;
        -o-transition: all 0.2s ease-in;
    }
}

.footer-callout a p:hover {
    background-color: #aa1435;
}

.social-icons-list li:hover {
    background-color: #aa1435;
}

/*------------------------Music section*/

.music-page-section {
    height: 70%;
    padding: 0;
}

@media (max-width: 992px){
    .music-page-section {
        height: auto;
        padding: 0;
        position: relative;
    }
}

.music-playlist {
    padding: 0px;
    margin: 0;
}

.playlist-title h5 {
    font-family: 'Cuprum', sans-serif;
    color: #000;
    font-size: 20px;
}

.music-playlist audio {
    padding-top: 10px;
    width: 100%;
    padding-right: 5px;
}

.music-playlist h4 {
    padding-left: 20px;
    color: #751223;
    font-family: 'Acme', sans-serif;
    font-size: 18px;
}

.music-description {
    height: 70%;
    padding-top: 30px;
}

.music-description img {
    height: 65%;
    float: right;
    clear: left;
    margin-bottom: 20px;
    margin-left: 20px;
}

.music-description p {
    font-size: 20px;
    padding-right: 20px;
    padding-left: 20px;
    font-family: 'Cuprum', sans-serif;
}

/*------------------------Video page section*/

.video-page-section {
    height: 70%;
}

@media (max-width: 992px){
    .video-page-section {
        height: auto;
        padding: 0;
        position: relative;
    }
}

.video-playlist {
    padding-top: 10px;
    text-align: center;
}

.video-playlist-title {
    padding-top: 0;
    margin-top: 0;
}

.video-playlist .card {
    background-color: #fff;
}

.video-playlist .card a {
    text-decoration: none;
    background-color: #ffffff;
    margin-bottom: 15px;
}

.card-img-top {
    height: %;
}

.card-body {
    width: auto;
}

.card-body h5 {
    color: #751223;
    font-family: 'Luckiest+Guy', serif;
    font-size: 21px;
    text-align: center;
}

.video {
    text-align: center;
}

.video-embed-title {
    width: 100%;
    text-align: center;
}

.video-embed {
    display: inline-block;
}

/*------------------------Events section*/

.events-page-section {
    padding: 0;
    margin: 0;
    height: 70%;
}

@media (max-width: 992px){
    .events-page-section {
        height: auto;
        padding: 0;
        position: relative;
    }
}

.form-section {
    padding-top: 20px;
    display: inline-block;
}

#form-table {
    padding-top: 20px;
}

/*------------------------about section*/

.about-page-section {
    height: 70%;
}

@media (max-width: 992px){
    .about-page-section {
        height: auto;
        padding: 0;
        position: relative;
    }
}

@media (max-width: 767){
    .about-page-section {
        height: auto;
    }
}

.band-history {
    border-left: 2px solid grey;
    margin-top: 30px;
    margin-bottom: 20px;
}

.timeline-item {
    padding: 4em 2em 0em 2em;
    position: relative;
    border-left: 1px solid grey;
}

.timeline-item p {
    padding: 0;
    margin: 0;
}

.timeline-item::before {
    content: attr(dates);
    position: absolute;
    left: 2.5em;
    top: 3em;
    display: block;
    font-family: "Exo", sans-serif;
    font-weight: 500;
    font-size: 0.8em;
    padding: 0;
    margin: 0;
}

.timeline-item::after {
    width: 18px;
    height: 12px;
    display: block;
    top: 2.4em;
    position: absolute;
    left: -6px;
    border-radius: 12px;
    border-right: 1px solid red;
    content: '';
    background-color: grey;
}

.about-bio p {
    font-size: 20px;
    padding-left: 25px;
    padding-right: 25px;
    font-family: 'Cuprum', sans-serif;
}

/*------------------------Footer*/


footer {
    height:10%;
    width: 100%;
    background-color: #5e5b69;
    color: #ffffff;
    padding: 0;
    margin: 0;
}

@media (max-width: 767px){
    footer {
        height: 20%;
        margin-top: 10px;
        position: relative;
    }
}

.footer-row {
    text-align: center;
}

.social-icons {
    padding-right: 20;
}

.social-icons h4 {
    color: #ffffff;
    display: inline-block;
}

.social-icons ul {
    padding-top: 15px;
    float: right;
}

@media (max-width: 767){
    .social-icons ul {
        padding-top: 6px;
        text-align: center;
        float: none;
    }
}

.social-icons-list {
    padding-left: 0;
}

.social-icons-list li {
    display: inline-block;
    text-align: center;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: #8f8f8f;
    margin-right: 10px;
}

@media (max-width:480px){
    .social-icons-list li {
        display: inline-block;
        padding-top: 2px;
    }
}

.social-icons-list li a {
    text-decoration: none;
    width: 100%;
    height: 100%;
}

.social-icons-list li a i {
    color: #ffffff;
    padding-top: 5px;
    font-size: 18px;
}

.footer-callout {
    padding-right: 10%;
    padding-left: 10%;
}

.footer-callout a {
    text-decoration: none;
}

.footer-callout a p {
    background-color: #8f8f8f;
    padding-left: 5px;
    margin-top: 18px;
    color: #ffffff;
    font-size: 18px;
    text-align: center;
}

.footer-callout a p i {
    padding-left: 10px;
}