@import url('https://fonts.googleapis.com/css?family=Anton|Francois+One|Luckiest+Guy|Shadows+Into+Light+Two|Staatliches|Acme');


/*------------------------Landing page general*/

body {
    background-image: url(../images/background01.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.header-section {
    height: 20%;
    width: 100%;
    padding: 0;
    margin: 0;
}

@media (max-width: 480px){
    .header-section {
        height: 10%;
        width: 100%;
        padding: 0;
        margin: 0;
    }
}

.cover-page-section {
    padding: 0;
    margin: 0;
    height: 70%;
    width: 100%;
}

@media (max-width: 480px){
    .cover-page-section {
        padding: 0;
        margin: 0;
        height: 80%;
        width: 100%;
    }
}

.title p {
    text-align: center;
    font-size: 100px;
    text-transform: uppercase;
    color: #1a3156;
    font-family: 'Acme', sans-serif;
}

@media (max-width: 767px){
    .title p {
        font-size: 30px;
        padding-top: 15px;
        text-align: center;
    }
}

/*------------------------Music page general*/

.music-page-header {
    height: 20%;
}

/*------------------------Landing page images*/

.landing-page-image01
.landing-page-image02
img {
    height: 100%;
    width: 100%;
    padding: 7px;
}

.landing-page .center-image {
    width: 100%;
    height: 100%;
}

.landing-page-photo-02 {
    height: 70%;
}

.landing-page-photo-03 {
    height: 30%;
}

.landing-page-image {
    padding: 0;
    margin: 0;
}

/*------------------------Music page images*/

.music-page-image {
    height: 80px;
    width: 80px;
    float: left;
}

.music-page-image img {
    height: 100%;
    width: 100%;
}

/*------------------------Navigation bar*/

.nav-landing-page-row {
    padding: 0;
    margin: 0;
}

.nav ul {
    margin-left: 0;
    padding-left: 0;
}

.nav ul li {
    height: 50px;
    width: 150px;
    text-align: center;
    margin-left: 0;
    margin-top: 10px;
    padding-left: 0;
}

@media (max-width: 480px){
   .nav ul li {
    height: 30px;
    width: 70px;
    text-align: center;
    margin-left: 10;
    margin-top: 10px;
    padding-left: 0;
   } 
}

.nav ul li a {
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
    color: #ffffff;
    font-family: 'Shadows+Into+Light+Two', cursive;
    text-transform: uppercase;
    margin: 0;
    padding-top: 8px;
    font-size: 20px;
}

@media (max-width: 480px){
    .nav ul li a {
        font-size: 20px;
        padding-top: 3px
    }
}

.nav ul li a i {
    padding-left: 5px;
    padding-right: 6px;
}

@media (max-width: 480px){
   .nav ul li a i {
        padding-right: 10px;
        padding-top: 2px;
    } 
}

.nav #home-nav {
    background-color: #563CA0;
}

.nav #music-nav {
    background-color: #5D99F2;
}

.nav #video-nav {
    background-color: #2C962C;
}

.nav #events-nav {
    background-color: #932B96;
}

.nav #about-nav {
    background-color: #B81C17;
}

/*------------------------Hover animations*/

.hvr-sweep-to-right:before {
    background-color: rgba(0,0,0, 0.2);
}

.nav ul li:hover {
    width: 165px;
    height: 56px;
    transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
}

@media (max-width: 480px){
   .nav ul li:hover {
        width: 70px;
        height: 30px;
        transition: all 0.2s ease-in;
        -webkit-transition: all 0.2s ease-in;
        -moz-transition: all 0.2s ease-in;
        -o-transition: all 0.2s ease-in;
    }
}

.nav ul li a:hover {
    padding-top: 12px;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

@media (max-width: 480px){
    .nav ul li a:hover {
        padding-top: 3px;
        transition: all 0.2s ease-in-out;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
    }
}


/*------------------------Footer*/


footer {
    height: 10%;
    background-color: transparent;
    color: #ffffff;
    padding: 0;
    margin: 0;
}

.social-icons {
    height: 100%;
}

@media (max-width: 767){
    .social-icons ul {
        padding: 0;
        text-align: center;
    }
}

.social-icons-list li {
    display: inline-block;
    padding-top: 6px;
    padding-right: 30px;
}

@media (max-width:480px){
    .social-icons-list li {
        display: inline-block;
        padding-top: 2px;
        padding-right: 8px;
    }
}

.social-icons-list li a {
    font-size: 18px;
    text-decoration: none;
}

.social-icons-list li a i {
    color: #ffffff;
}
